:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
}

body {
    color: var(--primary-text-color);
    background-color: #E5E5E5;
    font-family:;
    
}
/* Site navigation*/
.logo {
text-decoration-line: none;
}
.site-nav list{color: var(--title-text-color);
    text-decoration: none;
    text-decoration-line: none;

}
.site-nav.link {
    color: var(--title-text-color);
    text-decoration: none;
}
.site-header-contacts list{
    color: var(--primary-text-color);
}
.site-header-contacts:hover,
.site-header-contacts:focus {
    color: #2196F3;
}
.section-title, .section-subtitle {
    color: var(--title-text-color);
    }
/* кольори: основний колір абзаців #757575
/* колір заголовків #212121
/* білий колір тексту #FFFFFF
/* білий колір в футері rgba(255, 255, 255, 0.6)
/* колір активностей #2196F3