:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --white-color-text: #FFFFFF;
    --main-background-color:#E5E5E5 ;
}


body {
    color: var(--primary-text-color);
    background-color: var(--main-background-color);
   }
    
/* Site navigation*/
.site-header{
    background-color:var(--white-color-text);
}
.logo {
text-decoration-line: none;
color: #212121;
}
.logo-first{
    color: var(--accent-color);
}
.logo:hover,
.logo:focus{

}
.site-nav-list {
    color: var(--title-text-color);
    list-style: none;
    text-decoration-line: none;
}
 .site-nav-link {
    color: var(--title-text-color);
    text-decoration: none;
    text-decoration-line: none;
}
.site-nav-link:hover, 
.site-nav-link:focus{
    color: var(--accent-color);
}
.site-header-contacts list{
    color: var(--primary-text-color);
    list-style: none;
}
.site-header-contacts{
    color: var(--primary-text-color);
    text-decoration-line: none;
    list-style: none;
}
.site-header-contacts:hover,
.site-header-contacts:focus {
    color: #2196F3;
}
.section-title, .section-subtitle {
    color: var(--title-text-color);
    }